<div class="container">
  <%= link_to sanitize("&larr; Back to Tamk"), tank_livestocks_path(tank) %>

  <div class="header">
    <h1><%= title %></h1>
  </div>

  <%= turbo_frame_tag livestock.turbo_frame_tag do %>
    <%= render partial: 'tanks/livestocks/form', locals: { tank: tank, livestock: livestock } %>
  <% end %>
</div>
