<div class="container">
  <%= link_to sanitize("&larr; Back to Tamk"), tank_livestocks_path(@tank) %>

  <%= render partial: 'tanks/livestocks/form', locals: { tank: @tank, livestock: @livestock } %>
</div>
