<div class="form-control">
  <label class="label"><span class="label-text"><%= label %></span></label>
  <div class="my-4">
    <%= f.select field, options, {}, class: "select select-bordered w-full" %>
  </div>
</div>
