<div class="container">
  <%= link_to sanitize("&larr; Back to Tamk"), tank_equipments_path(@tank) %>

  <div class="header">
    <h1>New Heater</h1>
  </div>

  <%= render partial: 'tanks/equipments/form', locals: { tank: @tank, equipment: @equipment } %>
</div>
