<div id="email_signup_message">
  <% if flash[:notice].present? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert].present? %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
