<div class="container mx-auto px-4 py-10 flex flex-col justify-center items-center">
  <%= turbo_frame_tag 'email_signup_message' do %>
    <%= render 'email_signup/message' %>
  <% end %>

  <%= turbo_frame_tag 'email_signup_form', class: 'w-full max-w-md' do %>
    <%= render 'email_signup/form' %>
  <% end %>
</div>
