<div class="flex-1">
  <div class="font-normal text-gray-700 dark:text-gray-400"><%= small_text %></div>
  <div class="text-2xl font-medium tracking-tight text-gray-900 dark:text-white"><%= large_text %></div>
</div>
