<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank You for Signing Up</h1>
    <p>Hi <%= @email_signup.first_name %>,</p>
    <p>Thank you for signing up</p>
  </body>
</html>
