<header class="bg-white py-5 shadow-md">
  <div class="container mx-auto px-4">
    <%= image_tag 'logos/tank_share_small.png', alt: 'Tank Share',
                                                class: 'max-w-xs' %>
  </div>
</header>
